.recent{
  flex: 4;
  padding: 5px;

  .title{
    font-size: 18px;
    font-weight: 500;
    color: gray;
  }
  .status{
    padding: 5px;
    border-radius: 5px;

    &.Approved {
      color: green;
      background-color: rgba(0,128,0,0.152);
    }
    &.Pending {
      color: goldenrod;
      background-color: rgba(189,189,3,0.102);
    }
  }
}